*
{
    margin: 0;
    padding: 0;
}
.container
{
    width: 96%;
    margin: 0 auto;
    height: 720px;
}
.toolbar
{
    width: 25%;
    height: 720px;
    display: inline-block;
}
.map
{
    width: 74%;
    height: 720px;
    overflow: scroll;
    display: inline-block;
    background-color: blue;
}
.tileset
{
    width: 100%;
    height: 500px;
    background-color: red;
}
.layers
{
    width: 100%;
    height: 220px;
    background-color:yellow;
}